<div class="contenedorgrid">
    <div class="trailer">
    
        <div class="quote">
            <h3>2017 | 16+ <br> 2 temporadas | Dramas de TV</h3>
            <br>
            <p>La desaparición de un niño lleva a cuatro familias a una frenética búsqueda, mientras descubren un
                misterio que abarca tres generaciones.
                <br>
                <b>Protagonistas:</b> Louis Hofmann, Oliver Masucci, Jördis Triebel
                <br>
                <b>Creado por:</b> Baran bo Odar, Jantje Friese</p>
        </div>
        <video src="assets/video/DARK_-_Trailer_Subtitulado_2017(youtube.com).mp4"
            poster="assets/img/Serie-Dark-de-Netflix.jpg" controls></video>
    </div>
    </div>
