<a class="nav-link name-menu updateUser" href="#" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
  <div class="containersaludo logged">
    <span id="nombre-usuario" class="saludo" style="color:white;">{{identidad.nombre}}</span>
    <br>
    <img id="imgUsuario" class="imgusuario" src="{{url + 'obtener-imagen-usuario/' + identidad.imagen}}"
      style="width:75px;height:75px;">

  </div>
</a>

<div class="dropdown-menu dropdown-menu-bitBusic" aria-labelledby="navbarDropdown" style="margin-left: 10%; width: 10% !important; background-color: pink !important;">
  <a class="nav-link name-menu dropdown-item" style="margin-left: 10px;" routerLink="/updateUser">Actualizar usuario </a>
  <a class="nav-link name-menu dropdown-item" style="margin-left: 10px;" onclick="cerrarSesion()" (click)="cerrarSesion()">Cerrar sesión </a>
</div>