<!-- parrafo sobre nosotras -->

<div class="content1">
  <!-- ok class en css -->
  <div class="content-item1">
    <!-- ok class en css -->
    <div class="titulo">
      <h3 class="">Sobre Nosotras</h3>
    </div>
    <br />
    <br />
    <div class="logonos">
    <img src="../../../assets/images/logo_devgirls.jpeg" width=50% height=50%> 
    <p class="paboutus">
      Somos un equipo de mujeres programadoras de origen colombiano que han
      decidido unir sus conocimientos en diferentes áreas con el gran objetivo
      de tomarse al mundo. La pasión común por el cine fue el factor decisivo
      para iniciar con el espacio de las salas de cine. Poco a poco se irá
      incursionando en otras industrias, siempre apoyadas por la experiencia de
      las mujeres del equipo.
    </p>
  </div>
  </div>
</div>
<br />
<section class="equipo">
  <h3 class="headerG">Equipo</h3>
  <br />

  <!-- fila1 -->

  <div class="img1">
    <!--       <div class="img-content"> 
          <div class="card">  -->
    <img src="../../../assets/images/angelacruz.jpg" alt="Angela" />
    <br />
    <br />
    <div class="container">
      <h2>Angela Cruz</h2>
      <br />
      <p class="title">Frontend</p>
      <p>
        Diseñadora de producto y emprendedora con 10 años de experiencia en
        optimización y automatización de procesos, dirección de equipos y manejo
        de clientes.
      </p>
    </div>
  </div>

  <div class="img2">
    <!--  <div class="img-content"> -->
    <!--  <div class="card"> -->
    <img src="../../../assets/images/blanca3.jpg" alt="Blanca Cubides" />
    <br />
    <br />
    <div class="container">
      <h2>Blanca Soraya Cubides</h2>
      <br />
      <p class="title">Backend</p>
      <p>
        Odontologa general con mas de 20 años de experiencia, apasionada por
        aprender de las nuevas tecnolo digitales, emprendedora natural
      </p>
    </div>
    <!--   </div> -->
    <!-- </div> -->
  </div>

  <div class="img3">
    <!--  <div class="img-content"> -->
    <!-- <div class="card"> -->
    <img src="../../../assets/images/catalina.jpg" alt="Catalina" />
    <br /><br />
    <div class="container">
      <h2>Catalina Agredo</h2>
      <br />
      <p class="title">Q&A y Frontend</p>
      <p>
        Diseñadora con énfasis en comunicación. Me gusta la natación, la
        fotografía, el cine y los nuevos medios.
      </p>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>

  <!-- fila2 -->

  <!-- <div class="row2"> -->
  <div class="img4">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/cris_huertas.JPG" alt="Cristina Huertas" />
    <br /><br />
    <div class="container">
      <h2>Cristina Huertas</h2>
      <br />
      <p class="title">Backend</p>
      <p>
        “Estudiante de ingeniería de sistemas, dibujante de estructuras
        metálicas, me apasiona el cine, la lectura y viajar
      </p>
    </div>
    <!--  </div> -->
  </div>

  <div class="img5">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/Edna.jpeg" alt="Edna Mabel garcia" />
    <br /><br />
    <div class="container">
      <h2>Edna Mabel garcia</h2>
      <br />
      <p class="title">Backend</p>
      <p>
        Licenciada en Inglés. Emprendedora empirica, me apasiona viajar y
        conocer nuevas culturas.
      </p>
      <p></p>
    </div>

    <!--  </div> -->
  </div>

  <div class="img6">
    <!--  <div class="card"> -->
    <img
      src="../../../assets/images/isamarolarte.jpg"
      alt="Isamar Olarte Trejos"
    />
    <br /><br />
    <div class="container">
      <h2>Isamar Olarte Trejos</h2>
      <br />
      <p class="title">Scrum Master - BackEnd</p>
      <p>
        Estudiante de Medicina Veterinaria. Me encanta estar al aire libre, los
        animales y la tecnologia.
      </p>
    </div>
    <!-- </div> -->
  </div>
  <!--   </div> -->

  <!-- fila 3 -->
  <!-- <div class="row3"> -->
  <div class="img7">
    <!--    <div class="card"> -->
    <img src="../../../assets/images/jeimmy.jpg" alt="Jeimmy Aguilar Urrego" />
    <br /><br />
    <div class="container">
      <h2>Jeimmy Aguilar Urrego</h2>
      <br />
      <p class="title">Backend</p>
      <p>
        Estudiante de Ingenieria de Sistemas, Me encanta leer y entrenar Karate
        :)
      </p>
    </div>
    <!--  </div> -->
  </div>

  <div class="img8">
    <!--  <div class="card"> -->
    <img src="../../../assets/images/Karhito.png" alt="Kharoline" />
    <br /><br />
    <div class="container">
      <h2>Karholayn Cifuentes</h2>
      <br />
      <p class="title">Frontend</p>
      <p>
        Técnico en Sistemas, me interesa la programación, me gustaría viajar y
        conocer lugares nuevos.
      </p>
    </div>
    <!-- </div> -->
  </div>

  <div class="img9">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/paolacuadros .jpeg" alt="Paola Cuadros" />
    <br /><br />
    <div class="container">
      <h2>Paola Cuadros</h2>
      <br />
      <p class="title">Lider técnico y Backend</p>
      <p>
        Desarrolladora de software con 8 años de experiencia manejando lenguajes
        como Ruby, PHP, JS. Apasionada por el desarrollo de software y el
        deporte.
      </p>
    </div>
    <!-- </div> -->
  </div>

  <!-- fila 4 -->
  <!-- <div class="row4"> -->
  <div class="img10">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/mariuramones.jpeg" alt="mariuramones" />
    <br /><br />
    <div class="container">
      <h2>Maria Eugenia Ramones</h2>
      <br />
      <p class="title">Frontend</p>
      <p>Estudiante de programación. Me gusta hacer deporte, viajar y leer.</p>
    </div>
    <!--  </div> -->
  </div>

  <div class="img11">
    <!--   <div class="card"> -->
    <img src="../../../assets/images/stefhy.jpg" alt="Sthefy Pinto" />
    <br /><br />
    <div class="container">
      <h2>Stefhanny Pinto</h2>
      <br />
      <p class="title">Product Owner/ Frontend</p>
      <p>Estudiante. Me gusta la naturaleza, viajar y aprender.</p>
    </div>
    <!--   </div> -->
  </div>
</section>
<!-- Acá temrina la sección de los circulitos -->

<!-- Acá inicia el footer -->

<footer>
  <!-- <app-footer></app-footer> -->
</footer>
