<!-- parrafo sobre nosotras -->

<div class="content1">
  <!-- ok class en css -->
  <div class="content-item1">
    <!-- ok class en css -->
    <div class="titulo">
      <br>
      <br>
      <br>
      <h3 class="">Sobre Nosotras</h3>
    </div>
    <br />
    <br />
    <div class="logonos">
      <div class="logonos2">
        <img src="../../../assets/images/logo_devgirls.jpeg"
          style="background-color: white; object-fit: contain; margin-top: 8px;" width=100% height=260px>
      </div>
      <p class="paboutus">
        Somos un equipo de mujeres programadoras de origen colombiano que han
        decidido unir sus conocimientos en diferentes áreas con el gran objetivo
        de tomarse al mundo.
        <br><br>
        La pasión en común por el cine fue el factor decisivo
        para iniciar en el desarrollo fullstack de Javascript con nuestro proyecto CINEMABIT. Poco a poco nos
        hemos adentrado en proyectos más exigentes, siempre apoyadas por la experiencia y riqueza interdiscliplinar
        de cada una de nuestras integrantes.
      </p>
    </div>
    <strong style="color: rgb(1, 1,59); font-size: 24px;"> <br> ¡En nosotras encontraras el desarrollo perfecto para tu
      proyecto!</strong>
  </div>
</div>
<br />
<section class="equipo">
  <h3 class="headerG">Equipo</h3>
  <br />

  <!-- fila1 -->

  <div class="img1">
    <!--       <div class="img-content"> 
          <div class="card">  -->
    <img src="../../../assets/images/angelacruz.jpg" alt="Angela" />
    <br />
    <br />
    <div class="container">
      <h2>Angela Cruz</h2>
      <p class="title">Frontend</p>
      <p>
        Diseñadora de producto con 10 años de experiencia en
        optimización y automatización de procesos, dirección de equipos y manejo
        de clientes.
      </p>
    </div>
  </div>

  <div class="img2">
    <!--  <div class="img-content"> -->
    <!--  <div class="card"> -->
    <img src="../../../assets/images/blanca.jpeg" alt="Blanca Cubides" />
    <br />
    <br />
    <div class="container">
      <h2>Blanca Cubides</h2>
      <p class="title">Backend</p>
      <p>
        Odontologa general con mas de 20 años de experiencia, apasionada por
        aprender de las nuevas tecnolo digitales, emprendedora natural <br>
      </p>
    </div>
    <!--   </div> -->
    <!-- </div> -->
  </div>

  <div class="img3">
    <!--  <div class="img-content"> -->
    <!-- <div class="card"> -->
    <img src="../../../assets/images/catalina.jpg" alt="Catalina" />
    <br /><br />
    <div class="container">
      <h2>Catalina Agredo</h2>
      <p class="title">Q&A / Frontend</p>
      <p>
        Diseñadora con amplia experiencia en comunicación, medios digitales y medios editoriales.
        Gusto por la fotografía, cine y natación.<br>
      </p>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>

  <!-- fila2 -->

  <!-- <div class="row2"> -->
  <div class="img4">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/cris_huertas.JPG" alt="Cristina Huertas" />
    <br /><br />
    <div class="container">
      <h2>Cristina Huertas</h2>
      <p class="title">Backend</p>
      <p>
        Estudiante de ingeniería de sistemas con experiencia en diseño y dibujo de estructuras metálicas
        en herramientas CAD. Me apasiona el mundo de la programación y las nuevas tecnologías.
      </p>
    </div>
    <!--  </div> -->
  </div>

  <div class="img5">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/Edna.jpeg" alt="Edna Mabel garcia" />
    <br /><br />
    <div class="container">
      <h2>Edna Mabel garcia</h2>
      <p class="title">Backend</p>
      <p>
        Licenciada en Inglés con conocimiento en
        dificultades de aprendizaje y 8 años de experiencia en creación de empresa y proyectos de emprendimiento.
        <br><br>
      </p>
      <p></p>
    </div>

    <!--  </div> -->
  </div>

  <div class="img6">
    <!--  <div class="card"> -->
    <img src="../../../assets/images/isamarolarte.jpg" alt="Isamar Olarte Trejos" />
    <br /><br />
    <div class="container">
      <h2>Isamar Olarte</h2>
      <p class="title">Scrum Master / Backend</p>
      <p>
        Estudiante de Medicina Veterinaria con experiencia como asistente académico y
        asistente técnico Veterinaria.Me encanta estar al aire libre, los animales y la tecnología.
      </p>
    </div>
    <!-- </div> -->
  </div>
  <!--   </div> -->

  <!-- fila 3 -->
  <!-- <div class="row3"> -->
  <div class="img7">
    <!--    <div class="card"> -->
    <img src="../../../assets/images/jeimmy.jpg" alt="Jeimmy Aguilar Urrego" />
    <br /><br />
    <div class="container">
      <h2>Jeimmy Aguilar</h2>
      <p class="title">Backend</p>
      <p>
        Estudiante de Ingeniería de Sistemas en proceso de certificación en SAP ABAP. Cinturón azul en Karate DO. <br>
      </p> <br>
    </div>
    <!--  </div> -->
  </div>

  <div class="img8">
    <!--  <div class="card"> -->
    <img src="../../../assets/images/Karhito.png" alt="Kharoline" />
    <br /><br />
    <div class="container">
      <h2 style="font-size: 30px;">Karholayn Cifuentes</h2>
      <p class="title">Frontend</p>
      <p>
        Técnico en Sistemas y estudiante de Ingeniería de Software con experiencia en soporte en sitio y mesa de ayuda
        de autogestión. <br>
      </p>
    </div>
    <!-- </div> -->
  </div>

  <div class="img9">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/paolacuadros .jpeg" alt="Paola Cuadros" />
    <br /><br />
    <div class="container">
      <h2>Paola Cuadros</h2>
      <p class="title">Lider técnico / Backend</p>
      <p>
        Desarrolladora de software con 8 años de experiencia manejando lenguajes
        como Ruby, PHP, JS. Apasionada por el desarrollo de software y el
        deporte.
      </p>
    </div>
    <!-- </div> -->
  </div>

  <!-- fila 4 -->
  <!-- <div class="row4"> -->
  <div class="img10">
    <!-- <div class="card"> -->
    <img src="../../../assets/images/mariuramones.jpeg" alt="mariuramones" />
    <br /><br />
    <div class="container">
      <h2>Maria E. Ramones</h2>
      <p class="title">Frontend</p>
      <p>Licenciada en Contaduría. Estudiante de programación, desarrollando proyecto personal en el área de E-commerce. <br></p> <br>
    </div>
    <!--  </div> -->
  </div>

  <div class="img11">
    <!--   <div class="card"> -->
    <img src="../../../assets/images/stefhy.jpg" alt="Sthefy Pinto" />
    <br /><br />
    <div class="container">
      <h2>Stefhanny Pinto</h2>
      <p class="title">Product Owner/ Frontend</p>
      <p>Diseñadora grafica con 5 años de experiencia
        enfocada en medios digitales. Me encantan las nuevas tecnologías, nadar y caminar</p>
    </div>
    <!--   </div> -->
  </div>
</section>
<!-- Acá temrina la sección de los circulitos -->

<!-- Acá inicia el footer -->

<footer>
  <!-- <app-footer></app-footer> -->
</footer>