<div>
  <ul class="redes">
    <li class="twitter">
      <a href=""
        ><img
          src="../../../assets/images/twittercircular.png"
          alt=""
          width="30px"
      /></a>
    </li>

    <li class="facebook">
      <a href=""
        ><img
          src="../../../assets/images/facebookcircular.png"
          alt=""
          width="30px"
      /></a>
    </li>

    <li class="instagram">
      <a href=""
        ><img
          src="../../../assets/images/instagramcircular.png"
          alt=""
          width="30px"
      /></a>
    </li>
  </ul>
</div>
