<div class="container">
  
  <form #signUp="ngForm" (ngSubmit)="registrarUsuario()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre" class="labels-forms" >Nombres</label>
        <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel"
          [(ngModel)]="usuarioRegistro.nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="LastName" class="labels-forms">Apellidos</label>
        <input type="text" class="form-control" id="apellido" name="apellido" #apellido="ngModel"
          [(ngModel)]="usuarioRegistro.apellido">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email" class="labels-forms">Correo electronico</label>
        <input type="email" class="form-control" id="correo" name="correo" #correo="ngModel"
          [(ngModel)]="usuarioRegistro.correo">
      </div>
      <div class="form-group col-md-6">
        <label for="password" class="labels-forms">Contraseña</label>
        <input type="text" class="form-control" id="contrasena" name="contrasena" #contrasena="ngModel"
          [(ngModel)]="usuarioRegistro.contrasena">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="password" class="labels-forms">Mis favoritos</label>
      </div>
      <div class="form-group col-md-12" style="margin-left: 10%;">
        <div class="d-flex align-content-between flex-wrap">
          <div *ngFor="let gender of genders; let i = index;" style="width: 30% !important; text-align: justify;">
            <div class="p-6 bd-highlight">
              <input type="checkbox" name="generos" class="input-form" value="{{gender}}" (click)="saveGenders($event, gender)">
              <label for="generos{{gender}}" class="labels-forms">{{gender}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12" style="text-align: center;" >
        <button type="submit" class="btn boton">Guardar</button>
      </div>
      
    </div>
  </form>
</div>