<!-- <div>
    <a class="nav-link logo" routerLink="/">
      <img src="/assets/images/logo_1" style="width: 40%;" alt="" srcset="">
    
    </a>
    <ul class="nav justify-content-center">
      <li class="nav-item ">
        <a class="nav-link "> Iniciar sesion</a>
      </li>
    </ul>
</div> -->


    <div class="imagen">
        
        <div class="text-main">
            <h1>Disfruta del </h1>
                <h1>mejor contenido</h1>
                <br>
            <p> Accede a las mejores películas protagonizadas 
                
                <br>
                o dirigidas por mujeres.
                <br>
            </p>
                <button class="boton"> Registrarse </button>
            
        </div>
      </div>
