<div>
    <ul class="redes2 logged">
      <li class="twitter2">
        <a href=""
          ><img
            src="../../../assets/images/twittercircular.png"
            alt=""
            width="30px"
        /></a>
      </li>
  
      <li class="facebook2">
        <a href=""
          ><img
            src="../../../assets/images/facebookcircular.png"
            alt=""
            width="30px"
        /></a>
      </li>
  
      <li class="instagram2">
        <a href=""
          ><img
            src="../../../assets/images/instagramcircular.png"
            alt=""
            width="30px"
        /></a>
      </li>
    </ul>
  </div>
  
