<div class="menu">
    <a title="logo-atenea-2" href=""><img class="logo" src="../../../assets/images/logo-atenea-2.png" alt="logo-atenea-2" height="100px" /></a>
    <ul class="name-menu">
        <li class="notLoggedIn">
            <a class="nav-link name-menu login" routerLink="/login">
        Iniciar Sesion
      </a>
        </li>
        <li class="notLoggedIn">
            <a class="nav-link name-menu sign-up" routerLink="/sign-up">
        Registrarse
      </a>
        </li>
        <li class="logged">
            <a class="nav-link name-menu sign-up" routerLink="/updateUser">
        Actualizar
      </a>
        </li>
        <li class="logged">
            <a class="nav-link name-menu sign-up" routerLink="/movie-gender">
        Todas los generos
      </a>
        </li>
        <li class="logged">
            <a class="nav-link name-menu sign-up" routerLink="/movie-gender" onclick="cerrarSesion()" (click)="cerrarSesion()">
        cerrar sesión
      </a>
        </li>
        <li class="adminLoged">
            <a class="nav-link name-menu sign-up" routerLink="/movieList">
        Lista peliculas
      </a>
        </li>
        <li class="adminLoged">
            <a class="nav-link name-menu sign-up" routerLink="/register-movie">
      registrar peliculas
    </a>
        </li>
        <li class="adminLoged">
            <a class="nav-link name-menu sign-up" routerLink="/adminAcount">

            </a>
        </li>
    </ul>
</div>